.navbar{
    padding: 0px;
}
.navbar-brand{
    margin-right: 0px;
    width: 100px;
    padding: 0px;
}
.navbar-light .navbar-nav .nav-link {
    color: #54a0ff;
    font-size: 18px;
}
.btn-register {background-image: linear-gradient(to right, #e52d27 0%, #b31217  51%, #e52d27  100%)}
.btn-register{
margin: 10px;
padding: 10px 25px;
text-align: center;
text-transform: uppercase;
transition: 0.5s;
background-size: 200% auto;
color: white;  
font-weight: 600;          
box-shadow: 0 0 20px #eee;
border-radius: 10px;
display: block;
border-radius: 40px;
}

.btn-register:hover {
background-position: right center; /* change the direction of the change here */
color: #fff;
text-decoration: none;
}
         